:root {
  font-family: "Gill Sans", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.035em;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #ffffff;
  --color-grey-100: #f7f7f7;
  --color-grey-200: #efefef;
  --color-grey-300: #dbdbdb;
  --color-grey-400: #9b9b9b;
  --color-grey-500: #666666;
  --color-grey-600: #333333;
  --color-pop-orange: #e15a1d;
  --color-beige: #efeae5;

  --color-text-primary: var(--color-grey-600);
  --color-text-secondary: var(--color-grey-500);
  --color-text-inverted: var(--color-white);

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: #242424;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--color-grey-600);
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-grey-200);
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 0.8rem 0;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.2em;
  color: var(--color-grey-500);
}

.page_wrapper {
  /* background-color: blanchedalmond; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
